@model Models.ProductFilterResult
<!DOCTYPE html>
<html>
    <head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/basket.css" asp-append-version="true"/> 
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true"/>       
    </head>
    <body>
        <div id="content">
            <div id="products">

            </div>
            <div class="d-flex flex-column">
                <div>
                    <input typle="text"placeholder="Промокод" class="form-control" id="promocode" style="width:100%">
                </div>
                <div style="margin-top:5px">
                    <button class="confirm-button btn btn-outline-danger" id="usePromocode" style="width: 100%">Использовать</button>
                </div>
            </div>

            <div class="basket-total basket-total-hide" style="margin-top: 25px;">
                <div style="font-size:18px">
                    <h1>Итог заказа</h1>
                    <br>
                    <div class="d-flex justify-content-between">
                        <p style="font-weight: bold;">Промежуточный итог</p>
                        <div class="d-flex justify-content-start">
                            <p><span class="to-pay-span"></span> грн  </p>
                        </div>

                    </div>
                    <div class="d-flex">
                        <div>
                            <p style="font-weight: bold;">Доставка</p>
                        </div>
                        <div class="ml-auto">
                            <p>Бесплатно</p>
                        </div>
                    </div>

                    <div class="boxes">
                        <div class="d-flex box-product hide">
                            <div style="font-weight:bold;">
                                <p>Коробка <span class="box-amount"></span></p>
                            </div>
                            <div class="ml-auto">
                                <p class="box-cost"></p>
                            </div>
                        </div>
                        <div class="d-flex container-product hide">
                            <div style="font-weight:bold;">
                                <p>Контейнер <span class="container-amount"></span></p>
                            </div>
                            <div class="ml-auto">
                                <p class="container-cost"></p>
                            </div>
                        </div>
                    </div>
                    <hr color="white">
                    <br>
                    <p>Варианты доставки будут обновлены во время оформления заказа</p>
                    <br>

                    <div class="d-flex justify-content-between">
                        <p style="font-weight: bold;">В целом:</p>
                        <div class="d-flex justify-content-start">
                            <p class="to-pay"><span class="to-pay-span"></span> грн  </p>
                            <p class="to-pay-promo hide"><span class="to-pay-promo-span"></span> грн</p>
                        </div>
                    </div>
                </div>
                <div style="text-align: center">
                    <a href="~/checkout">
                        <button class="confirm-button btn btn-outline-danger">Перейти к оформлению</button>
                    </a>
                </div>
            </div>

            <div class="back-to hide" style="text-align: center">
                Ваша корзина пуста
                <br>
                <a href="~/">
                    <button class="confirm-button btn btn-outline-danger">Продолжить покупки</button>
                </a>
            </div>
            
        </div>

    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        <script src="~/js/Basket/Basket.js" asp-append-version="true"></script>
        <script src="~/js/Basket/BasketUsePromocode.js"asp-append-version="true"></script>

    </body>
</html>