@model Models.ProductFilterResult
<!DOCTYPE html>
<html>
    <head>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/basket.css"/>        
    </head>
    <body>
        <div id="content">
            <div id="products">

            </div>
            <div class="basket-total basket-total-hide">
                <div style="font-size:18px">
                    <h1>Итог заказа</h1>
                    <br>
                    <div class="d-flex justify-content-between">
                        <p style="font-weight: bold;">Промежуточный итог</p>
                        <p><span class="to-pay"></span> грн</p>
                    </div>
                    
                    <p style="font-weight: bold;">Доставка</p>
                    <hr color="white">
                    <p>Бесплатная доставка</p>
                    <hr color="white">
                    <p>Варианты доставки будут обновлены во время оформления заказа</p>
                    <br>

                    <div class="d-flex justify-content-between">
                        <p style="font-weight: bold;">В целом</p>
                        <p><span class="to-pay"></span> грн</p>
                    </div>
                </div>
                <div style="text-align: center">
                    <a href="~/checkout">
                        <button class="confirm-button">Перейти к оформлению</button>
                    </a>
                </div>
            </div>

            <div class="back" style="text-align: center">
                Ваша корзина пуста
                <a href="~/">
                    <button class="confirm-button">Продолжить покупки</button>
                </a>
            </div>
            
        </div>

    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        <script src="~/js/Basket/Basket.js" asp-append-version="true"></script>


    </body>
</html>