<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/product.css"/>        
    </head>
    <body>
        <div id="content">
            <div class="product">
                <img src="https://www.maggi.ru/data/images/recept/img564x436/recept_3585_docn.jpg" class="product-img">
                <div class="row no-gutters">
                        <div class="col-8 name">Name</div>
                        <div class="col-4 d-flex align-items-center justify-content-end " >
                            <span class="cost">0 грн</span>
                            <div class="d-flex justify-content-around align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle svg" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="excerpt">Excerpt</div>
                <div class="description">Description</div>
          </div>

          <div class="product">
                <img src="https://www.maggi.ru/data/images/recept/img564x436/recept_3585_docn.jpg" class="product-img">
                <div class="row no-gutters">
                        <div class="col-8 name">Name</div>
                        <div class="col-4 d-flex align-items-center justify-content-end " >
                            <span class="cost">1000000 грн</span>
                            <div class="d-flex justify-content-around align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="excerpt">Excerpt</div>
                <div class="description">Description</div>
          </div>

          <div class="product">
                <img src="https://www.maggi.ru/data/images/recept/img564x436/recept_3585_docn.jpg" class="product-img">
                <div class="row no-gutters">
                        <div class="col-8 name">Name</div>
                        <div class="col-4 d-flex align-items-center justify-content-end " >
                            <span class="cost">0 грн</span>
                            <div class="d-flex justify-content-around align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="excerpt">Excerpt</div>
                <div class="description">Description</div>
          </div>

          <div class="product">
                <img src="https://www.maggi.ru/data/images/recept/img564x436/recept_3585_docn.jpg" class="product-img">
                <div class="row no-gutters">
                        <div class="col-8 name">Name</div>
                        <div class="col-4 d-flex align-items-center justify-content-end " >
                            <span class="cost">0 грн</span>
                            <div class="d-flex justify-content-around align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="excerpt">Excerpt</div>
                <div class="description">Description</div>
          </div>

          <div class="product">
                <img src="https://www.maggi.ru/data/images/recept/img564x436/recept_3585_docn.jpg" class="product-img">
                <div class="row no-gutters">
                        <div class="col-8 name">Name</div>
                        <div class="col-4 d-flex align-items-center justify-content-end " >
                            <span class="cost">0 грн</span>
                            <div class="d-flex justify-content-around align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="excerpt">Excerpt</div>
                <div class="description">Description</div>
          </div>
    

        </div>
        
        <div class="current-product">
            <svg xmlns="http://www.w3.org/2000/svg" class="close-current-product" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <img class="img-current-product">
            <div class="info-current-product">
                <div class="name">s</div>
                <div class="cost"></div>
                <div class="excerpt"></div>
                <div class="description"></div>
            </div>
            <button class="button-current-product">Додати до кошика</button>
        </div>

        <script src="~/js/Index/ViewPhotoProduct.js" asp-append-version="true"></script>

    </body>
</html>