#content{
    position: relative;
    width:65%;
    margin: 0 auto;
    background-color: #242424;
    font-size: 20px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    #content {
        width:100%;
        margin: 0;
        background-color: #242424;
    }
}

button{
    text-decoration: none;
    border: none;
    color: white;
    padding: 10px 20px;
}

.button-type-delivery{
    background: #336b27;
}
.button-actived{
    background: #41b144;
}


.linkInstructions{
    text-decoration:underline
}

.linkInstructions:hover{
    text-decoration:underline;
    color: silver;
    cursor: pointer
}

.hide{
    display: none!important;
}

.content-preview{
    color: #999999
}
.change-button{
    text-decoration:underline
}

.change-button:hover{
    text-decoration:underline;
    color: silver;
    cursor: pointer;
}

.to-pay{
    margin-right: 5px;
}

.pay-to-line-through{
    text-decoration: line-through!important
}

.level{
    font-family: "Bookman Old Style Bold";
}

#products{
    font-family: "Bookman Old Style";
}

.boxes{
    font-family: "Bookman Old Style";
}
.cost{
    font-family: "Bookman Old Style Bold";
}


#sum{
    font-family: "Bookman Old Style Bold";
}

.error{
    border-color: #dc3545;
    border-width:2px
}
@media screen and (max-width: 490px) {
    h2{
        font-size: 22px;
    }


}


.thanks{
    width: 100%;
    background-color: #242424;
    margin: 0 auto;
    text-align: center;
    font-family: "Bookman Old Style Bold";
}

@media screen and (max-width: 380px) {
    .change-button{
        font-size: 15px;
    }
    #content{
        font-size: 15px;
    }


}