.header{
    background-color: #333333;
    padding: 10px;
    height: 110px;
}
.header_fixed {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.svg{
    margin: 0 2px;
}

.button-buy{
    background: transparent;
    border: none !important;
    font-size:0;
    color: white;
}

nav{
    overflow:auto;
    white-space: nowrap;
    margin-top: 5px;
}
