html{

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #1d241a;
  color: white;
}

a{
  text-decoration: none;
  color: white;
  outline: none;
}

a:hover{
  text-decoration: none;
  color: white;
}

button:active, button:focus {
  outline: none;
}

hr{
  border: none;
  border-bottom: 1px white solid;
}

input{
  font-family: "Bookman Old Style";
}

textarea{
  font-family: "Bookman Old Style";
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width:auto;
  height:auto;

}